<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <title>Grilled cheese sandwich</title>
</head>
<body>
        <h1>My Recipe for a grilled cheese sandwich</h1>
        <h4>Step 1: Go to your friend's house<br>Step 2:Ask if they can make you a grilled cheese sandwich <br> If they say yes, follow these instructions: Ask them to make it, Done! <br> If they said no, then order a grilled cheese sandwich from doordash or uber eats or just make it yourself!</h4>
        <h1>Made by Azad!</h1>
        <p>{{ greeting }}</p>
        <a href="/weather">Click here to see the weather on Earth</a>
</body>
</html>
