<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="weatherstyle.css">
    <script src="weatherscript.js"></script>
    <title>Weather on Earth</title>
</head>
<body>
    <h1>I don't know why, but i just wanted to make this for some reason?</h1>
    <h2>Weather on Earth</h2>
    <p>{{ user_weather }}</p>
    <a href="/">Go back to grilled cheese</a>
</body>
</html>
